<h1>Artist: <%= @artist.name %></h1>

<h3><%= pluralize(@artist.songs.count, 'song') %></h3>
<ul>
	<% @artist.songs.each do |song| %>
  <li><%= link_to song.title, song_path(song) %></li>
	<% end %>
</ul> 